{{ portman_services | default({'reserved': [{'port': 80, 'description': 'caddy http'}, {'port': 443, 'description': 'caddy https'}, {'port': 2019, 'description': 'caddy admin api'}], 'permanent': []}) | to_nice_json }}
